*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    list-style: none;
    color: white;
}

body{
    background: linear-gradient( rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url(./Images/bg-1.jpeg) center/cover no-repeat fixed;
}

nav {
    /* display: flex; */
    width: 100%;
    height: 80px;
    background: linear-gradient(180deg ,rgb(54, 187, 54) , rgb(175, 175, 71) );
    /* padding: 23px; */
    /* margin: auto; */
    /* background: rgb(1, 29, 7); */
}

nav .logo{
    line-height: 80px;
    margin: 0 80px;
    font-size: 45px;
    font-weight: bold;
    /* float: left; */
    /* margin-left: 50px; */
    /* font-size: 40px; */
    /* transform: scale(2); */
}

nav ul {
    margin: 0px 30px 0 0;
    line-height: 80px;
    float: right;
}

nav ul li{
    /* display: inline-block; */
    list-style: none;
    float: left;
    margin-left: 25px;
    font-weight: bold;
    /* transform: scale(1.2); */
}

nav ul a{
    font-size: 18px;
    padding: 7px 10px;
    border: 1px solid transparent;
    border-radius: 3px;
}

a.active,a:hover {
    border: 1px solid white;
    transition: .5s;
}




main{
    /* border: 2px solid red; */
    height: calc(87vh);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

main h2{
    transform: scale(2);
    text-align: center;
}

main h1{
    transform: scale(2.7);
    margin-top: 40px;
}

main h1 span{
    /* color: rgb(198, 201, 19); */
    color: yellow;
    text-shadow: 1px 2px 2px  white;
}

nav .fa-bars{
    float: right;
    line-height: 80px;
    font-size: 30px;
    color: white;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

@media(max-width:1048px){
    nav .logo{
        font-size: 32px;
        padding-left: 10px;
    }

    nav ul{
        margin-right: 20px;
    }

    nav ul a{
        font-size:12px;
    }
    main h1{
        font-size: 1.5em;
    }

    main h2{
        font-size: 1.3em;
    }
}

@media(max-width:909px){
    nav .fa-bars{
        display: inline-block;
    }

    nav ul{
        position: sticky;
        width: 100vw;
        height: 100vh;
        background-color: black;
        background: linear-gradient( rgba(0,0,0,1),rgba(0,0,0,0.7)), url(./Images/bg-1.jpeg) center/cover no-repeat fixed;
        top: 80px;
        left: 0;
        /* left: -100%; */
        transition: all .5s;
        /* text-align: center; */
        display: flex;
        flex-direction: column;
        align-items: center;
        /* margin-top: 20px ; */
        /* line-height: 30px; */
    }
    nav ul a{
        font-size: 2em;
        cursor: pointer;
        /* margin-top: 80px; */
    }
    
    a.active,a:hover{
        border: none;
        font-size: 3em;
        color: yellow;
        transition: all .5s;
    }

    main{
        /* display: none; */
        opacity: 0.1;
    }
}

z

